.card{
    width: 400px;
    background-color: navy;
    color: white;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2{
    margin-bottom: 2rem;
    text-align: center;
    color: #c7d2dd;
}

.status{
    margin: 2rem 0;
    font-size: 1.1rem;
}


.adult {
  color: #2ae779;
  font-weight: bold;
}

.minor {
  color: #f81717;
  font-weight: bold;
}

.ageUpdate{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button{
    width: 60px;
    height: 40px;
    border-radius:20%;
    cursor: pointer;
    background-color: rgb(4, 4, 107);
    color: white;
    border: 4px outset rgb(2, 2, 57);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease, box-shadow 0.15s ease;

    &:hover{
        background-color: rgb(6, 6, 147);
    }

    /* Shrink effect when clicked */
    &:active {
    transform: scale(0.9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }
}