<div class="card">
    <h2>User Details</h2>

    <p><strong>Name: </strong> {{ name() }}</p>
    <p><strong>Age: </strong> {{ age() }}</p>

    <p class="status"><strong>Status:</strong>
        <span [class.adult]="status() === 'Adult'"
              [class.minor]="status() === 'Minor'"> {{ status() }}</span>
    </p>

    <div class="ageUpdate">
        <lib-ui-button (clicked)="increaseAge()">+</lib-ui-button>
        <lib-ui-button (clicked)="decreaseAge()" [disabled]="age() === 0">-</lib-ui-button>
    </div>
</div>